<!--<!DOCTYPE html>-->
<!--<html xmlns:th="https://www.thymeleaf.org"-->
<!--    th:replace="~{modules/layout :: html(title = '404'  + '-' + ${site.title}, content = ~{::content})}">-->

<!--<th:block th:fragment="content">-->
<!--    <div class="error-404-container" x-data="{ particles: Array(30).fill('4').concat(Array(30).fill('0')) }">-->
<!--        <template x-for="(particle, index) in particles" :key="index">-->
<!--            <span class="error-404-particle" x-text="particle"></span>-->
<!--        </template>-->
<!--        <article class="error-404-content">-->
<!--            <p>错误提示</p>-->
<!--            <p>您似乎迷失了方向</p>-->
<!--            <p>-->
<!--                <a href="/">-->
<!--                    <button>返回主页</button>-->
<!--                </a>-->
<!--            </p>-->
<!--        </article>-->
<!--    </div>-->
<!--</th:block>-->

<!--</html>-->