<div class="flex justify-between items-center my-8 p-x-4" th:fragment="pagination (items)">
  <!--上一页-->
  <div>
    <a th:href="@{${items.prevUrl}}" th:if="${items.hasPrevious()}"
      class="pr-2.5 flex items-center cursor-default no-underline border border-solid border-2 borderc-primary p-1.5 text-sm rounded hover:bgc-primary hover:text-white transition duration-300">
      <span class="i-material-symbols:chevron-left-rounded inline-block size-4 mt-0.25"></span>
      <span class="text-inherit">Previous Page</span>
    </a>
  </div>

  <!--当前页-->
  <div class="absolute left-1/2 transform -translate-x-1/2" th:if="${items.totalPages > 1}">
    <span class="text-base text-gray-800 px-2" th:text="|${items.page} / ${items.totalPages}|"></span>
  </div>

  <!--下一页-->
  <div>
    <a th:href="@{${items.nextUrl}}" th:if="${items.hasNext()}"
      class="pl-2.5 flex items-center cursor-default no-underline border border-solid border-2 borderc-primary p-1.5 text-sm rounded hover:bgc-primary hover:text-white transition duration-300">
      <span class="text-inherit">Next Page</span>
      <span class="i-material-symbols:chevron-right-rounded inline-block size-4 mt-0.25"></span>
    </a>
  </div>
</div>