<div class="flex flex-col gap-5" th:fragment="postsList (posts)">
  <a
    th:each="post : ${posts.items}"
    class="flex flex-col p-y-4 p-x-4 hover:shadow-card transition duration-300 rounded-lg cursor-default no-underline"
    th:href="@{${post.status.permalink}}"
  >
    <span th:text="${post.spec.title}" class="text-lg font-semibold mb-3 textc-primary"></span>
    <div th:text="${post.status?.excerpt + '...'}" class="mb-2"></div>
    <div class="flex justify-between items-center h-4">
      <time th:text="${#dates.format(post.spec.publishTime, 'yyyy-MM-dd')}"
            class="time-icon"></time>
      <span th:if="${not #lists.isEmpty(post.categories)}"
            th:each="category : ${post.categories}"
            th:text="${category.spec.displayName}"
            class="category-icon"></span>
      <div class="flex items-center h-100%">
        <span th:href="@{${post.status.permalink}}"
              class="textc-primary text-3.2 mr-0.5">Read More</span>
        <div class="i-material-symbols:arrow-right-alt-rounded textc-primary mt-0.5"></div>
      </div>
    </div>
  </a>
  <th:block th:replace="~{modules/pagination :: pagination(items=${posts})}"></th:block>
</div>
