<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
    th:replace="~{modules/layout :: html(title = '归档' + ${site.title}, content = ~{::content})}">

<th:block th:fragment="content">
    <main>
        <div class="wrap min">
            <section class="home-title">
                <h1>"时光长廊"</h1>
            </section>

            <section>
                <div class="bg-ob-deep-800 px-14 py-16 rounded-2xl shadow-xl block min-h-screen mt-4">
                    <ul class="timeline timeline-centered">
                        <th:block th:each="archive : ${archives.items}">
                            <th:block th:each="month : ${archive.months}">
                                <li class="timeline-item period">
                                    <div class="timeline-info"></div>
                                    <div class="timeline-marker"></div>
                                    <div class="timeline-content">
                                        <h2 class="timeline-title">[[${month.month}]] [[${archive.year}]]</h2>
                                    </div>
                                </li>
                                <li class="timeline-item" th:each="post : ${month.posts}">
                                    <div class="timeline-info">
                                        <span th:text="${#dates.format(post.spec.publishTime, 'MM/dd/yyyy')}"></span>
                                    </div>
                                    <div class="timeline-marker"></div>
                                    <div class="timeline-content">
                                        <a th:href="@{${post.status.permalink}}" th:title="${post.spec.title}" class="">
                                            <h3 th:text="${post.spec.title}" class="timeline-title"></h3>
                                        </a>
                                        <p th:text="${post.status.excerpt}"></p>
                                    </div>
                                </li>
                            </th:block>

                        </th:block>

                    </ul>
                </div>
                <!-- 分页 -->
                <th:block th:replace="~{modules/pagination :: pagination(items=${archives})}"></th:block>
            </section>

        </div>
    </main>
</th:block>

</html>