<!DOCTYPE html>
<html 
xmlns:th="https://www.thymeleaf.org"
th:replace="~{modules/layout :: html(title = ${category.spec.displayName} + '-' + ${site.title}, content = ~{::content})}"
>

    <th:block th:fragment="content">
      <main>
        <div class="wrap min">
          <section class="home-title">
            <h1 th:text="'&quot;' + ${category.spec.displayName} + '&quot;'"></h1>
            <span th:text="${category.spec.description}"></span>
          </section>
          
          <!--文章列表-->
          <section>
            <div>
              <th:block th:replace="~{modules/postsList :: postsList(posts = ${posts})}" />
            </div>
          </section>
          
        </div>
      </main>
    </th:block>

</html>