<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = ${site.title}, content = ~{::content})}">

<th:block th:fragment="content">
  <main>
    <div class="wrap min">

      <!--主标题、副标题、社交媒体-->
      <section class="home-title">
        <h1 th:text="${site.title}"
          class="text-5xl font-bold text-center pt-0.9 mb-3 font-source-han-serif textc-primary cursor-default"></h1>
        <p th:text="${site.subtitle}" class="ext-center pb-1.5 text-sm textc-secondary-text"></p>
        <th:block th:replace="~{modules/social}" />
      </section>

      <!--文章列表-->
      <div>
        <th:block th:replace="~{modules/postsList :: postsList(posts = ${posts})}" />
      </div>

    </div>
  </main>
</th:block>

</html>