<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title =  '瞬间 - ' + ${site.title},  content = ~{::content})}">

<th:block th:fragment="content">
  <main>
    <div class="wrap min">
      <section class="home-title">
        <h1>"心情札记"</h1>
      </section>

      <section>
        <ul class="!list-none space-y-3xl moments">
          <li class="!text-left" th:each="moment : ${moments.items}" th:with="content = ${moment.spec.content}"
            th:attr="x-data=|{name:'${moment.metadata.name}',showComment:false}|">
            <time class="bgc-primary3 text-white text-3.5 py-1 px-2 rounded-xl shadow-md"
              th:text="${#dates.format(moment.spec.releaseTime, 'yyyy-MM-dd')}"></time>
            <div th:if="${not #strings.isEmpty(content.html)}" th:utext="${content.html}"></div>
            <div th:unless="${#lists.isEmpty(moment.spec.content.medium)}"
              class="moment-media mt-4 grid w-full grid-cols-3 gap-2 sm:w-1/2">
              <div class="aspect-square" th:each="momentItem : ${content.medium}">
                <img th:if="${momentItem.type.name == 'PHOTO'}" class="size-full object-cover"
                  th:src="${momentItem.url}" />
              </div>
            </div>
            <div class="mt-3 flex items-center gap-4">
              <div
                class="inline-flex cursor-pointer items-center text-sm text-gray-400 transition-all hover:text-black dark:text-slate-400 dark:hover:text-slate-300"
                :class="{'!text-black dark:!text-slate-300':showComment}" x-on:click="showComment = !showComment">
                <i class="i-material-symbols:chat-bubble-outline-rounded size-3.5"></i>
                <span class="ml-1" th:text="${moment.stats.approvedComment}"> </span>
              </div>
            </div>
            <div class="mt-2" x-show="showComment">
              <halo:comment group="moment.halo.run" kind="Moment" th:attr="name=${moment.metadata.name}" />
            </div>
          </li>
        </ul>
        <th:block th:replace="~{modules/pagination :: pagination(items=${moments})}"></th:block>
      </section>

    </div>

  </main>
</th:block>

</html>