<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = ${tag.spec.displayName} + '-' + ${site.title}, content = ~{::content})}">

<th:block th:fragment="content">
  <main>
    <div class="wrap min">
      <section class="home-title">
        <h1 th:text="'&quot;' + ${tag.spec.displayName} + '&quot;'"></h1>
      </section>

      <!-- 文章列表 -->
      <section>
        <th:block th:replace="~{modules/postsList :: postsList(posts = ${posts})}" />
      </section>
    </div>
  </main>
</th:block>

</html>